#pageone {
	overflow:scroll; 
	-webkit-overflow-scrolling:touch;
}
#navigation {
	position:absolute;
	top:30px;
	left:0px;
	width: 1200px;
	height: 70px;
	background-color: gray;
	padding: 5px; 
}
#homepage_icon{
	position: absolute;
	top: 0px;
	left: 10px;
	padding:5px;
}
#dashboard{
	position: absolute;
	width: 1194px;
	height: 500px;
	top: 200px;
}
#comment{
	height: 50px;
}

thead th:nth-child(1) {
	width:10%;
}

thead th:nth-child(2) {
	width: 18%;
}

thead th:nth-child(3) {
	width: 12%;
}

thead th:nth-child(4) {
	width: 12%;
}

thead th:nth-child(5) {
	width: 12%;
}

thead th:nth-child(6) {
	width: 12%;
}

thead th:nth-child(7) {
	width: 12%;
}

thead th:nth-child(8) {
	width: 12%;
}


#one {
	color:red;
}
#linkone {
	cursor: pointer;	
}
#two {
	color:OrangeRed;
}
#linktwo {
	cursor: pointer;	
}
#three {
	color: Orange;
}
#linkthree {
	cursor: pointer;	
}
#four {
	color: Gold;
}
#linkfour {
	cursor: pointer;	
}
#five {
	color: green;
}
#linkfive {
	cursor: pointer;	
}
#six {
	color: blue;
}
#linksix {
	cursor: pointer;	
}
#seven {
	color:darkblue;
}
#linkseven {
	cursor: pointer;	
}
#eight {
	color:darkviolet;
}
#linkeight {
	cursor: pointer;	
}
#nine {
	color:Indigo;
}
#linknine {
	cursor: pointer;	
}
#ten {
	color:dark;
}
#linkten {
	cursor: pointer;	
}
tbody td{
	text-align: center;
}


.custom-btn:before{
	content:'';
	height:100%;
	display:inline-block;
	vertical-align:middle;
}
.custom-btn{
	top:20px;
	background:gray;
	color:#fff;
	border:none;
	position:absolute;
	-webkit-transform: translateZ(0);
	height:60px;
	font-size:1.6em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
	text-align:left;
}
.exchange{
	left:140px;
}

.transactional_information{
	left:340px;
}

.coin{
	left:580px;
}

.chart{
	left:770px;
}

.chat{
	left:970px;
}
.custom-btn:hover{
	color: yellow;
}
.custom-btn:before,.custom-btn:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: gray;
	transition: 400ms ease all;
}
.custom-btn:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.custom-btn:hover:before,.custom-btn:hover:after{
	width:100%;
	transition:800ms ease all;
}
